@model AppUserUpdateViewModel

<form method="post"
      asp-action="Update"
      asp-controller="Personnel"
      enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="UpdatedImage" />
    <span asp-validation-for="UpdatedImage" class="text-danger"></span>

    <input type="submit" value="Upload" />
</form>