@model AppUserUpdateViewModel

<div class="container">
    <form asp-action="Update" method="post">
        <div class="form-group">
            <input type="hidden" asp-for="Id" class="form-control" />
        </div>
        <div class="form-group mb-2">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group mb-4">
            <label asp-for="MobileNumber"></label>
            <input asp-for="MobileNumber" class="form-control" />
            <span asp-validation-for="MobileNumber" class="text-danger"></span>
        </div>

        <div class="form-group mb-4">
            <label asp-for="UpdatedImage" class="text-dark">Photo</label>
            <input asp-for="UpdatedImage" class="form-control" type="file" accept="image/png, image/jpg, image/jpeg"/>
            <span asp-validation-for="UpdatedImage" class="text-danger"></span>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>
