
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using HrApp.MVC.Areas.Admin.Models.Personnel
@model AppUserAddViewModel
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-left">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Add Personnel</h3>
                </div>
                <form asp-area="Admin" asp-controller="Personnel" asp-action="Add" enctype="multipart/form-data" method="post">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <!-- Row for Name and Second Name -->
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="SecondName" class="control-label"></label>
                                <input asp-for="SecondName" class="form-control" />
                                <span asp-validation-for="SecondName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="Surname" class="control-label"></label>
                                <input asp-for="Surname" class="form-control"></input>
                                <span asp-validation-for="Surname" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="SecondSurname" class="control-label"></label>
                                <input asp-for="SecondSurname" class="form-control"></input>
                                <span asp-validation-for="SecondSurname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="BirthYear" class="control-label"></label>
                                <input asp-for="BirthYear" type="date" class="form-control"></input>
                                <span asp-validation-for="BirthYear" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="BirthPlace" class="control-label"></label>
                                <select asp-for="BirthPlace" class="form-control">
                                    <option value="0">------</option>
                                    <option value="1">Adana</option>
                                    <option value="2">Adıyaman</option>
                                    <option value="3">Afyonkarahisar</option>
                                    <option value="4">Ağrı</option>
                                    <option value="5">Amasya</option>
                                    <option value="6">Ankara</option>
                                    <option value="7">Antalya</option>
                                    <option value="8">Artvin</option>
                                    <option value="9">Aydın</option>
                                    <option value="10">Balıkesir</option>
                                    <option value="11">Bilecik</option>
                                    <option value="12">Bingöl</option>
                                    <option value="13">Bitlis</option>
                                    <option value="14">Bolu</option>
                                    <option value="15">Burdur</option>
                                    <option value="16">Bursa</option>
                                    <option value="17">Çanakkale</option>
                                    <option value="18">Çankırı</option>
                                    <option value="19">Çorum</option>
                                    <option value="20">Denizli</option>
                                    <option value="21">Diyarbakır</option>
                                    <option value="22">Edirne</option>
                                    <option value="23">Elazığ</option>
                                    <option value="24">Erzincan</option>
                                    <option value="25">Erzurum</option>
                                    <option value="26">Eskişehir</option>
                                    <option value="27">Gaziantep</option>
                                    <option value="28">Giresun</option>
                                    <option value="29">Gümüşhane</option>
                                    <option value="30">Hakkâri</option>
                                    <option value="31">Hatay</option>
                                    <option value="32">Isparta</option>
                                    <option value="33">Mersin</option>
                                    <option value="34">İstanbul</option>
                                    <option value="35">İzmir</option>
                                    <option value="36">Kars</option>
                                    <option value="37">Kastamonu</option>
                                    <option value="38">Kayseri</option>
                                    <option value="39">Kırklareli</option>
                                    <option value="40">Kırşehir</option>
                                    <option value="41">Kocaeli</option>
                                    <option value="42">Konya</option>
                                    <option value="43">Kütahya</option>
                                    <option value="44">Malatya</option>
                                    <option value="45">Manisa</option>
                                    <option value="46">Kahramanmaraş</option>
                                    <option value="47">Mardin</option>
                                    <option value="48">Muğla</option>
                                    <option value="49">Muş</option>
                                    <option value="50">Nevşehir</option>
                                    <option value="51">Niğde</option>
                                    <option value="52">Ordu</option>
                                    <option value="53">Rize</option>
                                    <option value="54">Sakarya</option>
                                    <option value="55">Samsun</option>
                                    <option value="56">Siirt</option>
                                    <option value="57">Sinop</option>
                                    <option value="58">Sivas</option>
                                    <option value="59">Tekirdağ</option>
                                    <option value="60">Tokat</option>
                                    <option value="61">Trabzon</option>
                                    <option value="62">Tunceli</option>
                                    <option value="63">Şanlıurfa</option>
                                    <option value="64">Uşak</option>
                                    <option value="65">Van</option>
                                    <option value="66">Yozgat</option>
                                    <option value="67">Zonguldak</option>
                                    <option value="68">Aksaray</option>
                                    <option value="69">Bayburt</option>
                                    <option value="70">Karaman</option>
                                    <option value="71">Kırıkkale</option>
                                    <option value="72">Batman</option>
                                    <option value="73">Şırnak</option>
                                    <option value="74">Bartın</option>
                                    <option value="75">Ardahan</option>
                                    <option value="76">Iğdır</option>
                                    <option value="77">Yalova</option>
                                    <option value="78">Karabük</option>
                                    <option value="79">Kilis</option>
                                    <option value="80">Osmaniye</option>
                                    <option value="81">Düzce</option>
                                </select>
                                <span asp-validation-for="BirthPlace" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="TurkishIdentificationNumber" class="control-label"></label>
                                <input type="number" asp-for="TurkishIdentificationNumber" data-maxlength="11"
                                       oninput="this.value=this.value.slice(0,this.dataset.maxlength)"
                                       class="form-control" />
                                <span asp-validation-for="TurkishIdentificationNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="StartDate" class="control-label"></label>
                                <input asp-for="StartDate" type="date" class="form-control"></input>
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="Department" class="control-label"></label>
                                <input asp-for="Department" class="form-control"></input>
                                <span asp-validation-for="Department" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="CompanyName" class="control-label"></label>
                                <input asp-for="CompanyName" class="form-control"></input>
                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="Occupation" class="control-label"></label>
                                <input asp-for="Occupation" class="form-control"></input>
                                <span asp-validation-for="Occupation" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Address" class="control-label"></label>
                                <textarea asp-for="Address" rows="4" maxlength="200" class="form-control"></textarea>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="MobileNumber" class="control-label"></label>
                                <input type="number" asp-for="MobileNumber" data-maxlength="11"
                                       oninput="this.value=this.value.slice(0,this.dataset.maxlength)"
                                       class="form-control" />
                                <span asp-validation-for="MobileNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Salary" class="control-label"></label>
                                <input type="number" asp-for="Salary" class="form-control" />
                                <span asp-validation-for="Salary" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="GenderId" class="control-label">Gender</label>
                                <div class="row">
                                    <div class="col-1">
                                        <label>
                                            <input id="male" asp-for="GenderId" type="radio"
                                                   value="1" />Male
                                        </label>
                                    </div>
                                    <div class="col-1">
                                        <label>
                                            <input id="female" asp-for="GenderId" type="radio"
                                                   value="2" />Female
                                        </label>
                                    </div>
                                    <span asp-validation-for="GenderId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="NewImage" class="control-label">Photo</label>
                                <input asp-for="NewImage" type="file" class="form-control-file"
                                       accept=".jpg , .jpeg , .png" />
                                <span asp-validation-for="NewImage" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Add Personnel</button>
                        <a asp-controller="Personnel" asp-action="Add" class="btn btn-secondary">Details</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


