@using HrApp.MVC.Models.Personnel
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<style>
    .login-page,
    .register-page {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
    }

    .login-box,
    .register-box {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    .field-icon {
        cursor: pointer;
    }
</style>

<body class="login-page">
    <div class="row">
        <div class="col-12 position-absolute">
            <img src="~/AdminLTE-3.1.0/dist/img/humanresources.jpg" class="w-100" style="object-fit:contain">
        </div>
    </div>
    <div class="login-box position-sticky mt-4">
        <div class="login-logo">
            <a href="/"><b>Human</b>Resources</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body" style="min-height:400px">
                <p class="login-box-msg">Sign in to start your session</p>

                <form asp-action="Login" method="post" class="mt-4">
                    @Html.AntiForgeryToken()
                    <div class="input-group mb-4">
                        <input type="text" name="Email" id="Email" class="form-control" asp-for="Email" required
                            placeholder="Please enter your email" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-4">
                        <input type="password" name="Password" id="Password" class="form-control" asp-for="Password"
                            placeholder="Please enter your password" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span id="togglePassword" class="fas fa-eye field-icon"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="icheck-primary mt-2">
                                <input type="checkbox" id="remember" asp-for="RememberMe" />
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-5">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                    </div>
                </form>

                <p>
                    <a href="@Url.Action("SendPasswordEmail", "Home")">I forgot my password</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#togglePassword').click(function () {
                let passwordInput = $('#Password');
                let passwordIcon = $('#togglePassword');
                if (passwordInput.attr('type') === 'password') {
                    passwordInput.attr('type', 'text');
                    passwordIcon.removeClass('fa-eye').addClass('fa-eye-slash');
                } else {
                    passwordInput.attr('type', 'password');
                    passwordIcon.removeClass('fa-eye-slash').addClass('fa-eye');
                }
            });
        });
    </script>
</body>