@using HrApp.MVC.Models.Personnel
@model ForgetPassViewModel

@{
    ViewBag.Title = "Forgot Password";
}

<h1>Forget Password</h1>


<div class="row">
    <div class="col-12 position-absolute">
        <img src="~/AdminLTE-3.1.0/dist/img/humanresources.jpg" class="w-100" style="object-fit:contain">
    </div>
    <div class="m-auto position-sticky mt-4 w-100" style="max-width:350px">
        <form asp-action="SendPasswordEmail" method="post">
            @* action değiştir *@
            <div class="mt-4">
                <label for="mail">E-Mail:</label>
                <input type="email" id="mail" class="form-control" asp-for="Email" />
            </div>
            <div class="mt-4">
                <input type="submit" value="Post" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>