<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-expense-tab" data-bs-toggle="tab" data-bs-target="#nav-expense"
            type="button" role="tab" aria-controls="nav-expense" aria-selected="true" onclick="loadExpenses()">Expenses</button>
        <button class="nav-link" id="nav-advance-tab" data-bs-toggle="tab" data-bs-target="#nav-advance" type="button"
            role="tab" aria-controls="nav-advance" aria-selected="false" onclick="loadAdvances()">Advances</button>
        <button class="nav-link" id="nav-leave-tab" data-bs-toggle="tab" data-bs-target="#nav-leave" type=" button"
            role="tab" aria-controls="nav-leave" aria-selected="false" onclick="loadLeaves()">Leaves</button>
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-expense" role="tabpanel" aria-labelledby="nav-expense-tab">
        <div id="expenseContainer">
        </div>
    </div>
    <div class="tab-pane fade" id="nav-advance" role="tabpanel" aria-labelledby="nav-advance-tab">
        <div id="advanceContainer">
        </div>
    </div>
    <div class="tab-pane fade" id="nav-leave" role="tabpanel" aria-labelledby="nav-leave-tab">
        <div id="leaveContainer">
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/jszip/jszip.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>
        function loadExpenses() {
            // Make an AJAX request to your controller action
            $.ajax({
                url: '@Url.Action("GetExpenses", "Approval")',
                type: 'GET',
                success: function (result) {
                    $('#expenseContainer').html(result);
                },
                error: function (error) {
                    console.error('Error loading expenses: ', error);
                }
            });
        }

        function loadAdvances() {
            $.ajax({
                url: '@Url.Action("GetAdvances", "Approval")',
                type: 'GET',
                success: function (result) {
                    $('#advanceContainer').html(result);
                },
                error: function (error) {
                    console.error('Error loading expenses: ', error);
                }
            });
        }

        function loadLeaves() {
            $.ajax({
                url: '@Url.Action("GetLeaves", "Approval")',
                type: 'GET',
                success: function (result) {
                    $('#leaveContainer').html(result);
                },
                error: function (error) {
                    console.error('Error loading expenses: ', error);
                }
            });
        }

        // Call the function to load expenses when the page is ready
        $(document).ready(function () {
            loadExpenses();
            loadAdvances();
            loadLeaves();
        });


    </script>
    

}
