@using HrApp.MVC.Models.Expense
@using System.Security.Claims

@model UpdateExpenseViewModel

<div class="container">
    <form asp-action="Update" method="post">
        <div asp-validation-summary="ModelOnly"></div>

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="AppUserId" value="@User.FindFirstValue("nameid")" /> @* cookieden AppUserId çekilecek ve valueya yazılacak! *@

        <div class="form-group mb-2">
            <label asp-for="ExpenseTypeId" class="text-dark">Advance Types</label>
            <select class="form-control" asp-for="ExpenseTypeId" asp-items="@ViewBag.ExpenseTypes"></select>
            <span asp-validation-for="ExpenseTypeId" class="text-danger"></span>
        </div>

        <div class="form-group mb-2">
            <label asp-for="CurrencyId" class="text-dark">Currencies</label>
            <select class="form-control" asp-for="CurrencyId" asp-items="@ViewBag.Currencies"></select>
            <span asp-validation-for="CurrencyId" class="text-danger"></span>
        </div>

        <div class="form-group mb-2">
            <label asp-for="Amount" class="text-dark">Amount</label>
            <input asp-for="Amount" class="form-control" min="1" max="10" /> @* max değeri kullancıya göre belirlenecek *@
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="File" class="control-label">File</label>
            <input asp-for="File" type="file" class="form-control-file" accept=".jpg , .jpeg , .png, .pdf" />
            <span asp-validation-for="File" class="text-danger"></span>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        </div>
    </form>
</div>